@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
/* Color palette */

:root {
 --warm-pink: #ea657b;
 --light-olive-green: #aace46;
 --brownish-grey: #707070;
 --very-light-pink: #c3c3c3;
 --white: #ffffff;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}
.logo {
    width: 436px;
    height: 116px;
    object-fit: contain;
}
h1 {
    font-family: Poppins;
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    color: var(--light-olive-green);
}
h2 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.4;
    text-align: left;
    color: var(--white);
    text-transform: uppercase;
}
p {
    color: var(--white);
}
#tarja p {
    font-size: 1.1em;
    letter-spacing: normal;
    text-align: left;
    color: var(--brownish-grey);
    background-color: var(--white);
}
.form-group input {
    width: 100%;
    text-align: left;
    color: var(--very-light-pink);
    border-radius: 0;
    border: 0px;
    border-bottom: solid 2px var(--light-olive-green);;
}
